<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Guest book</title>
  </head>
  <body>

    <div class="container p-3" style="display:flex;">
      <h5 class="col-6 m-2">Välkommen ***NAMN***!</h5>
      
  
      <form class="col-6 m-2" style="width: fit-content;"  action="/" method="get">
        <button type="submit" class="btn btn-danger">Log out</button>
      </form>
    </div>

    <hr>
    <div class="container p-3">
      <form class="col-12" action="/forum.html">
        <button id="backtoForum" class="btn btn-outline-primary">Tillbaka till startsidan</button>
      
      </form>
     </div>
   <div class="container p-3"><h5>Din inlägg har sparats!</h5></div>

  

  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>